<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
{# <link href="/static/favicon.svg" rel="icon" type="image/svg+xml"/> -#}
<link href="/static/favicon.ico" rel="shortcut icon"/>
<link href="/static/favicon.png" rel="icon" type="image/png"/>
<meta name="author" content="Zorgit - A slightly rusty Git"/>
<meta name="description" content="Zorgit (A slightly rusty Git) is a painless self-hosted Git service written in Rust"/>
<meta name="keywords" content="rust,git,self-hosted,zorgit"/>
{# {% if debug -%}<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% else -%}<script src="https://cdn.jsdelivr.net/npm/vue"></script>{% endif -%} #}
<link rel="stylesheet" href="/static/css/bulma/0.7.4/css/bulma.css"/>
<link rel="stylesheet" href="/static/css/bulma/0.7.4/css/bulma-tooltip.css"/>
<link rel="stylesheet" href="/static/css/zorgit.css"/>
<link rel="stylesheet" href="/static/css/zorgit-icons.css"/>
<script src="/static/js/zorgit.js"></script>
{# <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css"> -#}
{# <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -#}