{% extends "base.html" %}

{% block content -%}
<section class="hero is-fullheight-with-navbar is-dark">
  <div class="hero-body">
    <div class="container is-vcentered">
      <div class="column is-4 is-offset-4">
        <h1 class="title has-text-centered">Register an Account</h3>
        <div class="signup-box">
          <form action="/signup" method="post">
            <div class="field">
              <label class="label">Username</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-medium" autofocus="" name="username" type="username" placeholder="Your Username" required>
                <span class="icon is-small is-left">
                  <i class="zg-icon zg-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="zg-icon zg-check is-hidden"></i>
                </span>
              </div>
              <p class="help is-danger is-hidden">This username is already taken!</p>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-medium" name="email" type="email" placeholder="Your Email" required>
                <span class="icon is-small is-left">
                  <i class="zg-icon zg-mail"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="zg-icon zg-check is-hidden"></i>
                </span>
              </div>
              <p class="help is-danger is-hidden">Enter a valid email!</p>
            </div>
            <br>
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-medium" name="password" type="password" placeholder="Your Password" {# pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #} required>
                <span class="icon is-small is-left">
                  <i class="zg-icon zg-lock"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="zg-icon zg-check is-hidden"></i>
                </span>
              </div>
              <p class="help is-danger is-hidden">You entered a weak password. Please enter a password with at least 8 characters, containing at least 1 number, special character and 1 upper-case letter.</p>
            </div>
            <div class="field">
              <label class="label">Confirm Password</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-medium" name="confirm_password" type="password" placeholder="Your Password" required>
                <span class="icon is-small is-left">
                  <i class="zg-icon zg-lock"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="zg-icon zg-check is-hidden"></i>
                </span>
              </div>
            </div>
            <br>
            <div class="field is-grouped">
              <div class="control">
                <input type="submit" class="button is-primary" value="Register">
              </div>
              <div class="control">
                <a class="button is-default" href="../">Cancel</a>
              </div>
            </div>
          </form>
        </div>
        <p class="has-text-centered has-text-grey">
          <a class="has-text-grey" href="/login">Already have an account?</a> &nbsp;•&nbsp;
          <a class="has-text-grey" href="../">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock -%}

{#- Maybe use one of the wallpapers from the following sources as background.
- https://blog.hdwallsource.com/32-awesome-hd-cave-wallpapers/
- https://wall.alphacoders.com/big.php?i=274947 as background.
Because they are nice and the name Zorgit is about minerals/rocks. -#}